body {
    background: #fff;
}

h1 {
    color: #009DE0;
}

.btn-station {
	color: #fff;
}

.title {
	margin-top: 10px;
}

.subtitle {
	margin-top: 10px;
    color: #003366;
}

.station-results-title {
	color: #008dc9;
	margin: 0;
}

.station-zone {
	margin-top: 10px;
}

.btn-default, .list-group-item {
    background: #009DE0;
}

.btn-default.selected, .list-group-item:hover {
    background: #008dc9 !important;
}