<h3 class="subtitle">Show stations for<span class="d-inline d-sm-none"> zones</span>:</h3>

<div class="btn-group " role="group" aria-label="Button group with nested dropdown">
	<button href="#" class="btn btn-default btn-station" ng-class="{'selected': selectedZone == 5}" role="button" ng-click="selectZone(5)">
		<span class="d-none d-sm-inline">Zones </span>1-5
	</button>
	<button href="#" class="btn btn-default btn-station" ng-class="{'selected': selectedZone == 4}" role="button" ng-click="selectZone(4)">
		<span class="d-none d-sm-inline">Zones </span>1-4
	</button>
	<button href="#" class="btn btn-default btn-station" ng-class="{'selected': selectedZone == 3}" role="button" ng-click="selectZone(3)">
		<span class="d-none d-sm-inline">Zones </span>1-3
	</button>
	<button href="#" class="btn btn-default btn-station" ng-class="{'selected': selectedZone == 2}" role="button" ng-click="selectZone(2)">
		<span class="d-none d-sm-inline">Zones </span>1-2
	</button>
</div>